<div class="text-content">
  <mat-tab-group
    mat-stretch-tabs="false"
    animationDuration="0ms"
    mat-align-tabs="center"
    class="mat-primary"
  >
    <mat-tab label="Ügyfélközpontú Megközelítés">
      <div class="card-content">
        <mat-card>
          <mat-card-content class="mat-inner-content">
            <div class="inner-tab-contents">
              <ul>
                <li>
                  <mat-icon>check</mat-icon>
                </li>
                <li>
                  <h2>Ügyfeleink elégedettsége kiemelten fontos számunkra.</h2>
                </li>
                <li>
                  <mat-icon>check</mat-icon>
                </li>
                <li>
                  <h2>Minden projektet az ügyfelek igényeire szabunk.</h2>
                </li>
                <li>
                  <mat-icon>check</mat-icon>
                </li>
                <li>
                  <h2>
                    Célunk az, hogy valóban az ügyfél vállalkozásának és
                    közönségének legjobb megoldását nyújtsuk.
                  </h2>
                </li>
              </ul>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab label="Minőségi Munka">
      <div class="card-content">
        <mat-card>
          <mat-card-content class="mat-inner-content">
            <div class="inner-tab-contents">
              <ul>
                <li>
                  <mat-icon>check</mat-icon>
                </li>
                <li>
                  <h2>
                    Minőség a kulcsszavunk. Szakértő csapatunk precízen
                    dolgozik, hogy minden digitális projektünk magas színvonalú
                    legyen.
                  </h2>
                </li>
                <li><mat-icon>check</mat-icon></li>
                <li>
                  <h2>
                    A részletekre és minőségre való összpontosításunk garantálja
                    a kiváló eredményeket.
                  </h2>
                </li>
              </ul>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab label="Újítás Költséghatékonyan">
      <div class="card-content">
        <mat-card>
          <mat-card-content class="mat-inner-content">
            <div class="inner-tab-contents">
              <ul>
                <li><mat-icon>check</mat-icon></li>
                <li>
                  <h2>Az innovációhoz nem kell mélyen zsebbe nyúlni.</h2>
                </li>
                <li><mat-icon>check</mat-icon></li>
                <li>
                  <h2>
                    Mi segítünk Önnek megtalálni a legjobb és költséghatékonyabb
                    megoldásokat, hogy vállalkozása mindig versenyképes
                    maradjon.
                  </h2>
                </li>
              </ul>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab label="Kreativitás">
      <div class="card-content">
        <mat-card>
          <mat-card-content class="mat-inner-content">
            <div class="inner-tab-contents">
              <ul>
                <li><mat-icon>check</mat-icon></li>
                <li>
                  <h2>Az alkotás szenvedélye vezérel bennünket.</h2>
                </li>
                <li><mat-icon>check</mat-icon></li>
                <li>
                  <h2>
                    Kreatív megközelítéssel és friss ötletekkel dolgozunk, hogy
                    digitális projektjei ne csak hatékonyak, hanem látványosak
                    és emlékezetesek is legyenek.
                  </h2>
                </li>
              </ul>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab label="Agilis és Vízesés Modell Szerinti Munkavégzés">
      <div class="card-content">
        <mat-card>
          <mat-card-content class="mat-inner-content">
            <div class="inner-tab-contents">
              <ul>
                <li><mat-icon>check</mat-icon></li>
                <li>
                  <h2>Rugalmasan alkalmazkodunk a projekt igényeihez.</h2>
                </li>
                <li><mat-icon>check</mat-icon></li>
                <li>
                  <h2>
                    Legyen szó az agilis vagy a vízesés módszertanról, mi a
                    legjobbat hozzuk ki minden helyzetből, hogy projektje
                    sikeres legyen.
                  </h2>
                </li>
              </ul>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
