<nav class="navbar navbar-expand-lg bg-light" style="height: 250px;">
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <div class="text-center mb-4">
      <h1 style="color: #167D7F;">ZM-BH Solutions<span style="color: rgb(11, 35, 88);">.</span>
      </h1>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: #29A0B1;">Home</a>
        </li>
        <li>
          <a class="nav-link">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #29A0B1;">About</a>
        </li>
        <li>
          <a class="nav-link">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #29A0B1;">Projects</a>
        </li>
        <li>
          <a class="nav-link">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #29A0B1;">Contact</a>
        </li>
        <li>
          <a class="nav-link">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #29A0B1;">Skills</a>
        </li>
        <li>
          <a class="nav-link">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #29A0B1;">Public Repos</a>
        </li>
        <li>
          <a class="nav-link">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #29A0B1;">Skills</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
