
@import '../../../../styles.scss';

.navbar {
  background-color: $color5;
  height: 150px;
  padding: 0 5rem;
  font-weight: bold; 
}

.navbar-header {
  display: flex;
  font-weight: bold;

  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (max-width: 992px) {
  .navbar .navbar-header {
    flex-direction: row; 
    justify-content: space-between;
    flex-wrap: wrap;
    }

    
.navbar {
  background-color: $color5;
  height: 220px;
  padding: 0 5rem;
  font-weight: bold; 
}

  .navbar .navbar-toggler {
    order: 1;
    margin-top: 10px;
    background-color: $color2;
    opacity: 0.5;
    font-weight: bold;
  }

  .navbar .navbar-collapse {
    background-color: $color4; 

    border-style: solid;
    border-color: $color3;

    text-align: center;
    font-weight: bold;
    color:white !important;

  }
}

.navbar-brand {
  font-size: 28px;
  color: $color1;
  font-weight: bold;

}

.navbar-nav .nav-link {
  color: $color1;
  font-weight: bold;

  &:hover {
      color: $color3;
  }
}

h1{
  font-size:36px !important;
  color:  $color1 !important;
}