<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 class="navbar-brand">
        <a class="nav-link" routerLink="home"> ZM-BH Solutions </a>
      </h1>
      <img
        src="../../../../assets/tmp-name.jpg"
        alt="ZM-BH"
        width="150"
        height="150"
      />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home"
            >Főoldal</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">Rólunk</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">Szolgáltatások</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Képesítések</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kapcsolat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projektek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Publikus</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
