<footer>
  <div class="footer-container">
    <div class="footer-center">
      <img class="footer-logo" src="../../../../assets/tmp-name.jpg" alt="ZM-BH" />
      ZMBH Solutions © {{ date | date : "yyyy" }} All Rights Reserved
    </div>
    <div class="footer-right">
      <a href="#" class="fa fa-linkedin icon-padding"></a>
      <a href="#" class="fa fa-facebook icon-padding"></a>
      <a href="#" class="fa fa-instagram icon-padding"></a>
      <a href="#" class="fa fa-twitter icon-padding"></a>

    </div>
  </div>
</footer>