<div class="content">
  <mat-card>
    <mat-card-content>
      <p class="team-content">
        Üdvözlünk a dinamikus duónknál, Zolinál és Balázsnál, akik
        mérnökinformatikusos szaktársakból váltak üzlettársakká. Évek
        tapasztalata és a folyamatos tanulás által garantáljuk, hogy ügyfeleink
        számára mindig az innovatív megoldásokat nyújtjuk. Csatlakozz hozzánk
        ezen izgalmas technológiai utazásban!
      </p>
      <div class="container_team">
        <div class="team-members">
          <mat-card class="team-member">
            <div class="member-header">
              <img
                src="../../../../../assets/innovate2.png"
                alt="Zoli"
                class="rounded-circle"
              />
            </div>
            <h2 class="dev_name">Molnár Zoltán</h2>
            <h3 class="dev_position">Senior Developer</h3>
            <div class="icon-container">
              <a href="#" class="fa fa-linkedin icon-padding"></a>
              <a href="#" class="fa fa-facebook icon-padding"></a>
              <a href="#" class="fa fa-instagram icon-padding"></a>
              <a href="#" class="fa fa-twitter icon-padding"></a>
            </div>
          </mat-card>
          <mat-card class="team-member">
            <div class="member-header">
              <img
                src="../../../../../assets/innovate2.png"
                alt="Balázs"
                class="rounded-circle"
              />
            </div>
            <h2 class="dev_name">Halmai Balázs</h2>
            <h3 class="dev_position">Junior Developer</h3>
            <div class="icon-container">
              <a href="#" class="fa fa-linkedin icon-padding"></a>
              <a href="#" class="fa fa-facebook icon-padding"></a>
              <a href="#" class="fa fa-instagram icon-padding"></a>
              <a href="#" class="fa fa-twitter icon-padding"></a>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
