<div class="content">
  <mat-card>
    <mat-card-content>
      <p>
        Üdvözlünk a dinamikus duónknál, Zolinál és Balázsnál, akik
        mérnökinformatikusos szaktársakból váltak üzlettársakká. Évek
        tapasztalata és a folyamatos tanulás által garantáljuk, hogy ügyfeleink
        számára mindig az innovatív megoldásokat nyújtjuk. Csatlakozz hozzánk
        ezen izgalmas technológiai utazásban!
      </p>

      <div class="team-members">
        <mat-card class="team-member">
          <div class="member-header">
            <img
              src="../../../../../assets/innovate2.png"
              style="width: 200px; height: 200px"
              alt="Zoli"
            />
            <h2>Molnár Zoltán</h2>
            <h3>(Sofware Developer)</h3>
          </div>
          <p>
            Egy 28 éves mérnökinformatikus vagyok, aki szenvedélyesen követi a
            technológiai újításokat és több éves szakmai tapasztalattal
            rendelkezik a szoftverfejlesztés területén. Különös hangsúlyt
            fektetek az Angular keretrendszerre, amely segítségével korszerű,
            hatékony és felhasználóbarát webalkalmazásokat hozok létre. Emellett
            széleskörű tapasztalatom van a WordPress és Node.js technológiákban
            is, amelyek lehetővé teszik számomra, hogy sokoldalú és teljes körű
            megoldásokat kínáljak.
            <br />
            A munkám során fontos számomra a precizitás és a maximalizmus.
            Hiszem, hogy egy projekt csak akkor tekinthető sikeresnek, ha minden
            részletére odafigyeltünk, és nem hagyunk félkész megoldásokat. Ez a
            hozzáállás segített abban, hogy megbízható és magas színvonalú
            szolgáltatásokat nyújthassak ügyfeleim számára.
            <br />
            A karrierem során számos különböző projektben vettem részt, amelyek
            kihívásokkal és tanulási lehetőségekkel teli voltak. Ezek az
            élmények nemcsak mint fejlesztőt, hanem mint gondolkodót is
            formáltak, lehetővé téve számomra, hogy egyedi és innovatív
            megoldásokkal álljak elő, legyen szó Angular, WordPress vagy Node.js
            alapú projektekről.
            <br />
            Ha bármilyen projektben vagy együttműködésben gondolkodsz, amelyhez
            Angular, WordPress, vagy Node.js szakértelmet igényelsz, ne habozz
            kapcsolatba lépni velem. Örömmel dolgozom együtt veled, hogy valóra
            válthassuk elképzeléseidet!
          </p>
        </mat-card>
        <mat-card class="team-member">
          <img
            src="../../../../../assets/innovate2.png"
            style="width: 200px; height: 200px"
            alt="Balázs"
          />
          <h3>Balázs</h3>
          <p>
            A technológiai virtuóz, több mint négy éve vezetem újításainkat a
            front-end világában. Az adatbázis-tervezés és a kifinomult
            felhasználói interfészek mestere vagyok, aki magabiztosan mozog a
            back-end fejlesztés mély vizein is. Szakértelmem és elhivatottságom
            révén képes vagyok átlátni a technológiai útvesztőket, és
            ügyfeleinknek a legmodernebb, egyedi megoldásokat kínálni.
            Szenvedélyem az innováció, és ez minden projektünkben tükröződik.
          </p>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
