<div class="content">
  <mat-card >
      <mat-card-content>
        <p>
            Üdvözlünk a dinamikus duónknál, Zolinál és Balázsnál, akik mérnökinformatikusos szaktársakból váltak
            üzlettársakká. Évek tapasztalata és a folyamatos tanulás által garantáljuk, hogy ügyfeleink számára
            mindig az innovatív megoldásokat nyújtjuk. Csatlakozz hozzánk ezen izgalmas technológiai utazásban!
        </p>

        <div class="team-members">
          <mat-card class="team-member">
              <img src="../../../../../assets/innovate2.png" style="width: 200px; height: 200px;" alt="Zoli">
              <h3>Zoli</h3>
              <p>
                A technológiai virtuóz, több mint négy éve vezetem újításainkat a front-end világában.
                Az adatbázis-tervezés és a kifinomult felhasználói interfészek mestere vagyok, aki magabiztosan
                mozog a back-end fejlesztés mély vizein is. Szakértelmem és elhivatottságom révén képes vagyok
                átlátni a technológiai útvesztőket, és ügyfeleinknek a legmodernebb, egyedi megoldásokat
                kínálni. Szenvedélyem az innováció, és ez minden projektünkben tükröződik.
            </p>
          </mat-card>
          <mat-card class="team-member">
            <img src="../../../../../assets/innovate2.png" style="width: 200px; height: 200px;" alt="Balázs">
            <h3>Balázs</h3>
            <p>
              A technológiai virtuóz, több mint négy éve vezetem újításainkat a front-end világában.
              Az adatbázis-tervezés és a kifinomult felhasználói interfészek mestere vagyok, aki magabiztosan
              mozog a back-end fejlesztés mély vizein is. Szakértelmem és elhivatottságom révén képes vagyok
              átlátni a technológiai útvesztőket, és ügyfeleinknek a legmodernebb, egyedi megoldásokat
              kínálni. Szenvedélyem az innováció, és ez minden projektünkben tükröződik.
          </p>
          </mat-card>
      </div>
      </mat-card-content>
  </mat-card>
</div>
