
            <form [formGroup]="form" >
              <div class="form-row">
                <mat-form-field class="w-50 px-2">
                  <mat-label>Cím</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Add meg a poszt címét"
                    [formControl]="updatesFormControls.title"
                  />

                </mat-form-field>
  

              </div>
              <div class="form-row">
                <mat-form-field class="w-100 px-2">
                  <mat-label>Szöveg</mat-label>
                  <textarea
                  placeholder="Add meg a poszt leírását"
                    style="height: 120px; resize: none"
                    [formControl]="updatesFormControls.content"
                    matInput
                  ></textarea>
 
                </mat-form-field>
              </div>
  

            </form>
