<div class="content-wrapper secondary-background-color">
  <div class="container">
    <h1 class="text-center">Kompetencia Mátrixunk</h1>
    <div class="row">
      <!-- <div class="chart-container">
        <p-chart
          style="size: 10px"
          type="doughnut"
          [data]="chartData1"
        ></p-chart>
        <p-chart type="doughnut" [data]="chartData2"></p-chart>
        <p-chart type="doughnut" [data]="chartData1"></p-chart>
        <p-chart type="doughnut" [data]="chartData2"></p-chart>
        <p-chart type="doughnut" [data]="chartData1"></p-chart>
        <p-chart type="doughnut" [data]="chartData2"></p-chart>
      </div> -->
    </div>
  </div>
</div>
