<div class="content-wrapper primary-background-color">
  <div class="col-lg-5 col-md-12 col-sm-12">
    <ngb-carousel>
      @for (picture of pictures; track picture) {
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="picture.imgPath" [alt]="picture.projectAlt" />
        </div>
        <div class="carousel-caption">
          <mat-card class="mat-card-custom" id="upper-mat">
            <mat-card-content>
              <h2>{{ picture.projectTitle }}</h2>
            </mat-card-content>
          </mat-card>
          <mat-card class="mat-card-custom" id="down-mat">
            <mat-card-content>
              <h3>{{ picture.projectDetail }}</h3>
            </mat-card-content>
          </mat-card>
          <!-- <p>{{picture.description}}</p> -->
        </div>
      </ng-template>
      } @empty { Empty list of projects, something went wrong with the server. }
    </ngb-carousel>
  </div>
</div>
