@import "../../../../../styles.scss";
.content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}
.primary-background-color {
  background-color: $color2;
}
.text-content {
  max-width: 45%;
}
.rounded-corners-zb {
  width: 325px;
  height: 300px;
  border-radius: 28px;
}

.picsum-img-wrapper img {
  width: 100%;
  height: auto;
}
//media TODO
// .carousel-caption h3,
// .carousel-caption p {
//   font-size: smaller; /* Adjust font size on smaller screens */
// }

// .picsum-img-wrapper img {
//   width: 100%;
//   height: auto; /* Maintain aspect ratio */
// }
.mat-card-custom {
  background-color: $color5;
  opacity: 0.85;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

#upper-mat {
  position: absolute;
  top: 10;
  width: 100%;

  /* Adjust more styling as needed */
}

#down-mat {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Adjust more styling as needed */
}
