<div class="content">
    <mat-card class="mat-card-custom">
      <mat-card-content>
        <div class="container">
          <div class="row " style="padding:18px 0;text-align:right ">
            <a (click)="newPost()">

              <i class="fa fa-solid fa-plus" style="border: 2px solid rgb(3, 78, 58); font-size: 18px; width: 18px; height: 18px; border-radius: 25px;"></i>
            </a>
          </div>
          
          <div class="row">
            <app-mzbh-playground-update-list></app-mzbh-playground-update-list>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  