@import "../../../../styles.scss";
.content {
  min-height: calc(100vh - 215px);
}

@media (max-width: 992px) {
  .content {
    min-height: calc(100vh - 285px);
  }
  .secondary-content {
    max-width: 100% !important;
    margin: auto !important;
  }
  .primary-content {
    max-width: 100% !important;
    margin: auto !important;
  }
}
.row {
  display: flex;
}

.primary-content {
  max-width: 40%;
  margin-left: 5rem;
}
.secondary-content {
  max-width: 40%;
  margin-right: 5rem;
}
.primary-background-color {
  background-color: $color2;
}

.services-card {
  margin-bottom: 20px;
  width: 100%;
  background-color: #e0edf3;
  height: 150px;
  mat-card-header {
    margin-bottom: 10px;
  }
}
