<div class="content">
  <!-- Bevezető szakasz -->
  <div
    class="jumbotron jumbotron-fluid text-left py-5 primary-background-color"
  >
    <div class="container primary-content">
      <h1 class="display-4 text-center">Ahol az Ötletek Életre Kelnek</h1>
      <p class="lead">
        Több mint csak egy webfejlesztő cég - mi vagyunk az Ön digitális
        ötleteinek megvalósítói.
      </p>
      <p>
        Üdvözöljük a ZM-BH Solutions világában, ahol a technológia és a
        kreativitás találkozik. Mi nem csak fejlesztünk, hanem teremtünk -
        egyedi weboldalak, innovatív alkalmazások, és személyre szabott
        digitális megoldások, amelyek megkülönböztetik Önt a versenytársaitól.
        Szakértőink a legújabb technológiákat használva hozzák létre azt, ami
        eddig csak elképzelés volt. Lépjen be velünk a digitális jövőbe!
      </p>
    </div>
  </div>

  <!-- Rólunk szakasz -->
  <div
    class="jumbotron jumbotron-fluid text-left py-5 secondary-background-color"
  >
    <div class="container secondary-content">
      <h2 class="text-center">Miért minket válasszon?</h2>
      <p (click)="notification(notificationTypeEnum.Info)">
        A ZM-BH Solutions nem csak fejleszt, hanem inspirál és megvalósít.
        Folyamatosan követjük az új technológiai trendeket és alkalmazzuk azokat
        projektjeinkben, hogy ügyfeleink mindig a legmodernebb megoldásokkal
        rendelkezzenek. Legyen szó egy egyszerű weboldalról vagy egy komplex
        vállalati alkalmazásról, mi gondoskodunk róla, hogy digitális projektjei
        magas színvonalúak és innovatívak legyenek.
      </p>
    </div>
  </div>

  <!-- Szolgáltatások szakasz -->
  <div
    class="jumbotron jumbotron-fluid primary-background-color text-left py-5"
  >
    <div class="container">
      <h2 class="text-center">Szolgáltatásaink</h2>
      <div class="row">
        <!-- Első sor szolgáltatások -->

        <div class="col-md-4 d-flex align-items-stretch">
          <mat-card class="services-card">
            <mat-card-header>
              <mat-card-title>WordPress</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Teljes körű WordPress megoldások, kezdve a testreszabott témáktól
              az egyedi bővítményekig.
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-4 d-flex align-items-stretch">
          <mat-card class="services-card">
            <mat-card-header>
              <mat-card-title>Angular</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Interaktív és reszponzív frontend megoldások Angular
              technológiával.
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-4 d-flex align-items-stretch">
          <mat-card class="services-card">
            <mat-card-header>
              <mat-card-title>Node.js & .NET</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Robusztus backend megoldások Node.js-sel és .NET-tel.
            </mat-card-content>
          </mat-card>
        </div>

        <!-- Második sor szolgáltatások -->
        <div class="col-md-4 d-flex align-items-stretch">
          <mat-card class="services-card">
            <mat-card-header>
              <mat-card-title>Desktop Alkalmazások</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Testreszabott desktop alkalmazások fejlesztése C# nyelven.
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-4 d-flex align-items-stretch">
          <mat-card class="services-card">
            <mat-card-header>
              <mat-card-title>Adatbázisok</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Szakértelmünk kiterjed mind a SQL, mind a NoSQL technológiák
              megvalósítására, tervezésére.
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-4 d-flex align-items-stretch">
          <mat-card class="services-card">
            <mat-card-header>
              <mat-card-title>SEO Optimalizáció, Tanácsadás</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Optimalizáljuk weboldalát a jobb keresőmotoros rangsorolás
              érdekében.
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfólió szakasz -->
  <div
    class="jumbotron jumbotron-fluid secondary-background-color text-left py-5"
  >
    <div class="container primary-content">
      <h2 class="text-center">Projektjeink</h2>
      <p>
        Fedezze fel a legújabb és legizgalmasabb projektjeinket, amelyek
        különböző iparágakban és technológiákban mutatják be szakértelmünket.
        Mindegyik projekt egyedi kihívást jelentett számunkra, és büszkék
        vagyunk arra, hogy ügyfeleink elégedettek voltak a végeredménnyel.
      </p>
      <!-- Itt lehet képeket és leírásokat helyezni a különböző projektekről -->
    </div>
  </div>

  <div
    class="jumbotron jumbotron-fluid primary-background-color text-left py-5"
  >
    <div class="container secondary-content">
      <h2 class="text-center">Kompetencia Mátrixunk</h2>
      ide majd progress barok és skillek jönnek
    </div>
  </div>

  <div
    class="jumbotron jumbotron-fluid secondary-background-color text-left py-5"
  >
    <div class="container primary-content">
      <h2 class="text-center">Publikus Dokumentumok</h2>
      ide majd git repo stb
    </div>
  </div>

  <!-- Kapcsolatfelvételi űrlap -->
  <div
    class="jumbotron jumbotron-fluid primary-background-color text-left py-5"
  >
    <div class="container">
      <h2 class="text-center">Vegye fel velünk a kapcsolatot</h2>
      <p class="text-center">
        Ha Ön is készen áll arra, hogy vállalkozását a következő szintre emelje,
        lépjen velünk kapcsolatba! Készen állunk arra, hogy megvitassuk Önnel a
        projektjét és megtaláljuk a legjobb megoldást.
      </p>
      <form>
        <!-- Űrlap mezők -->
      </form>
    </div>
  </div>
</div>
