<div class="content">
    <div class="content-wrapper primary-background-color" >
      <div class="text-content" >
        <h1 class="display-4 text-center">Ahol az Ötletek Életre Kelnek</h1>
           
        <p class="lead">
          A ZM-BH Solutions-nál többet nyújtunk, mint csupán webfejlesztés. Mi vagyunk a híd az Ön digitális álmái és a valóság között.
        </p>
        <p>
                <!-- Üdvözöljük a ZM-BH Solutions világában, ahol a technológia és a
                kreativitás találkozik. Mi nem csak fejlesztünk, hanem teremtünk -
                egyedi weboldalak, innovatív alkalmazások, és személyre szabott
                digitális megoldások, amelyek megkülönböztetik Önt a versenytársaitól.
                Szakértőink a legújabb technológiákat használva hozzák létre azt, ami
                eddig csak elképzelés volt. Lépjen be velünk a digitális jövőbe! -->
                Üdvözöljük nálunk, ahol a technológia új dimenzióit felfedezzük és a kreativitást magas szintre emeljük. Mi nem csupán létrehozunk, hanem innoválunk - a testreszabott WordPress weboldalaktól az Angular alapú interaktív felületeken át, egészen a Node.js és .NET technológiákkal épített robosztus backend megoldásokig. Célunk, hogy a C# nyelven írt desktop alkalmazásokkal és a SQL és NoSQL adatbázisokkal egy olyan digitális élményt teremtsünk, amely kiemeli Önt a versenytársak közül. SEO optimalizációs és tanácsadási szolgáltatásainkkal pedig biztosítjuk, hogy weboldala a keresőmotorokban is az élen járjon. Jöjjön, és fedezze fel velünk a digitális jövő lehetőségeit!
        </p>
      </div>
      <div class="image-content-zb" >
                <img class="rounded-corners-zb" src="../../../../assets/innovate2.png"
                    alt="ZM-BH"

                />
      </div>
    </div>



    <div class="content-wrapper" >
      <div class="image-content-zb2" >
        <img class="rounded-corners-zb2" src="../../../../assets/innovate6.png"
            alt="ZM-BH"
        />
</div>
      <div class="text-content" >
        <h2 class="text-center">Miért válasszon minket?</h2>
        <p (click)="notification(notificationTypeEnum.Info)">
          <!-- A ZM-BH Solutions nem csak fejleszt, hanem inspirál és megvalósít.
          Folyamatosan követjük az új technológiai trendeket és alkalmazzuk azokat
          projektjeinkben, hogy ügyfeleink mindig a legmodernebb megoldásokkal
          rendelkezzenek. Legyen szó egy egyszerű weboldalról vagy egy komplex
          vállalati alkalmazásról, mi gondoskodunk róla, hogy digitális projektjei
          magas színvonalúak és innovatívak legyenek. -->
          A ZM-BH Solutions nem csupán fejleszt, de inspirál és megvalósít is. Folyamatosan frissítjük tudásunkat az új technológiai trendekkel kapcsolatban, hogy ügyfeleinknek mindig a legmodernebb megoldásokat biztosíthassuk. Legyen szó WordPress alapú weboldalról, Angular frontend fejlesztésről, Node.js vagy .NET backend megoldásokról, testreszabott desktop alkalmazásokról C# nyelven, vagy akár adatbázis tervezésről és SEO optimalizációról, mi gondoskodunk róla, hogy digitális projektjei nem csak magas színvonalúak, hanem innovatívak is legyenek.
        </p>
   
  
        <div class="flex-container">
  
            <ol>
              <li>
                <b>Ügyfélközpontú Megközelítés</b>
              </li>
              <li>
                <b>Minőségi Munka</b>
              </li>
              <li>
                <b>Újítás Költséghatékonyan</b>
              </li>
              <li>
                <b>Kreatívitás</b>
              </li>
              <li>
                  <b>Agilis és Vízesés Modell Szerinti Munkavégzés</b>
                </li>
            </ol>
  </div>
      </div>

    </div>




  <!-- Szolgáltatások szakasz -->
  <div class="content-wrapper primary-background-color" >
    <div class="container" >
      <h2 class="text-center">Szolgáltatásaink</h2>
      <div class="row">
        <!-- Első sor szolgáltatások -->

        <div class="col-md-4 d-flex align-items-stretch">
          <mat-card class="services-card">
            <mat-card-header>
              <mat-card-title>WordPress</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Teljes körű WordPress megoldások, kezdve a testreszabott témáktól
              az egyedi bővítményekig.
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-4 d-flex align-items-stretch">
          <mat-card class="services-card">
            <mat-card-header>
              <mat-card-title>Angular</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Interaktív és reszponzív frontend megoldások Angular
              technológiával.
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-4 d-flex align-items-stretch">
          <mat-card class="services-card">
            <mat-card-header>
              <mat-card-title>Node.js & .NET</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Robusztus backend megoldások Node.js-sel és .NET-tel.
            </mat-card-content>
          </mat-card>
        </div>

        <!-- Második sor szolgáltatások -->
        <div class="col-md-4 d-flex align-items-stretch">
          <mat-card class="services-card">
            <mat-card-header>
              <mat-card-title>Desktop Alkalmazások</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Testreszabott desktop alkalmazások fejlesztése C# nyelven.
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-4 d-flex align-items-stretch">
          <mat-card class="services-card">
            <mat-card-header>
              <mat-card-title>Adatbázisok</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Szakértelmünk kiterjed mind a SQL, mind a NoSQL technológiák
              megvalósítására, tervezésére.
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-4 d-flex align-items-stretch">
          <mat-card class="services-card">
            <mat-card-header>
              <mat-card-title>SEO Optimalizáció, Tanácsadás</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Optimalizáljuk weboldalát a jobb keresőmotoros rangsorolás
              érdekében.
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>








  <!-- Portfólió szakasz -->
  <div class="content-wrapper" >
    <div class="text-content" >
      <h2 class="text-center">Projektjeink</h2>
      <p>
        Fedezze fel a legújabb és legizgalmasabb projektjeinket, amelyek
        különböző iparágakban és technológiákban mutatják be szakértelmünket.
        Mindegyik projekt egyedi kihívást jelentett számunkra, és büszkék
        vagyunk arra, hogy ügyfeleink elégedettek voltak a végeredménnyel.
      </p>
      <!-- Itt lehet képeket és leírásokat helyezni a különböző projektekről -->
    </div>
    <div class="image-content" >
              <img class="rounded-corners" src="../../../../assets/innovate2.png"
                  alt="ZM-BH"
                  width="325"
                  height="300
                  "
              />
    </div>
  </div>



  <div class="content-wrapper primary-background-color" >
    <div class="image-content" >
      <img class="rounded-corners" src="../../../../assets/innovate2.png"
          alt="ZM-BH"
          width="325"
          height="300
          "
      />
  </div>
    <div class="text-content" >
      <h2 class="text-center">Kompetencia Mátrixunk</h2>
      ide majd progress barok és skillek jönnek
    </div>

  </div>



  <div class="content-wrapper secondary-background-color text-left" >

    <div class="text-content" >
      <h2 class="text-center">Publikus Dokumentumok</h2>
      ide majd git repo stb
    </div>
    <div class="image-content" >
      <img class="rounded-corners" src="../../../../assets/innovate2.png"
          alt="ZM-BH"
          width="325"
          height="300
          "
      />
  </div>
  </div>




  <div
    class="content-wrapper primary-background-color"
  >
    <div class="container">
      <h2 class="text-center">
        Amennyiben Ön is arra törekszik, hogy vállalkozását új magasságokba emelje, szeretettel várjuk, hogy kapcsolatba lépjen velünk. Teljes odaadással készülünk arra, hogy együttműködve Önnel alaposan áttekintsük projektjét, és közösen alakítsuk ki azt az ideális stratégiát, amely elősegíti vállalkozása virágzását.
        Kezdjük el együtt az utazást az üzleti siker felé!
      </h2>
      <h2 class="text-center">
        <a class="contact-color" routerLink="contact">
          Vegye fel velünk a kapcsolatot
        </a>
      </h2>
    </div>
  </div>
</div>
