<!-- <div class="container my-5 content">
  <div class="row">
    @for (update of (updatesArray$ | async); track update) {
    <div style="padding-top: 20px" class="col-md-12">
      <div class="card">
        <div class="card-header">
          Title: {{ update.title }} - <b>Id: {{ update.updateId }}</b>
        </div>
        <div class="card-body">{{ update.content }}</div>
      </div>
    </div>
    }
  </div>
</div> -->

<div class="mat-elevation-z8">
  <ng-container *ngIf="updatesArray$ | async as updatesArray">
    <table
      *ngIf="updatesArray && updatesArray.length > 0"
      mat-table
      [dataSource]="updatesArray"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef>Content</th>
        <td mat-cell *matCellDef="let element">{{ element.content }}</td>
      </ng-container>

      <ng-container matColumnDef="posted">
        <th mat-header-cell *matHeaderCellDef>Posted</th>
        <td mat-cell *matCellDef="let element">{{ element.postedBy }}</td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef>Created</th>
        <td mat-cell *matCellDef="let element">
          {{ element.date | date : "short" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <span
            class="material-icons"
            style="font-size: 33px; color: rgb(59, 185, 24)"
            >edit</span
          >

          <span
            class="material-icons"
            style="
              color: rgb(245, 164, 44);
              font-size: 33px;
              -webkit-text-stroke-width: 0px;
            "
          >
            info
          </span>

          <span
            class="material-icons"
            style="
              color: rgb(234, 83, 83);
              font-size: 33px;
              -webkit-text-stroke-width: 0px;
            "
            (click)="deleteById(element.updateId)"
          >
            delete_forever
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <p *ngIf="updatesArray && updatesArray.length === 0">
      There is no data for this filter
    </p>
  </ng-container>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
