<div class="content-wrapper primary-background-color">
  <div class="container">
    <h1 class="text-center">Szolgáltatásaink</h1>
    <div class="row">
      <div class="col-md-4 d-flex align-items-stretch">
        <mat-card class="services-card">
          <mat-card-header>
            <mat-card-title>WordPress</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Teljes körű WordPress megoldások, kezdve a testreszabott témáktól az
            egyedi bővítményekig.
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-4 d-flex align-items-stretch">
        <mat-card class="services-card">
          <mat-card-header>
            <mat-card-title>Angular</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Interaktív és reszponzív frontend megoldások Angular technológiával.
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-4 d-flex align-items-stretch">
        <mat-card class="services-card">
          <mat-card-header>
            <mat-card-title>Node.js & .NET</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Node.js és .NET backend szolgáltatásainkkal garantáljuk az erős és
            megbízható támogatást projektjeihez
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-4 d-flex align-items-stretch">
        <mat-card class="services-card">
          <mat-card-header>
            <mat-card-title>Desktop Alkalmazások</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Testreszabott desktop alkalmazások fejlesztése C# nyelven.
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-4 d-flex align-items-stretch">
        <mat-card class="services-card">
          <mat-card-header>
            <mat-card-title>Adatbázisok</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Szakértelmünk kiterjed mind a SQL, mind a NoSQL technológiák
            megvalósítására, tervezésére.
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-4 d-flex align-items-stretch">
        <mat-card class="services-card">
          <mat-card-header>
            <mat-card-title>SEO Optimalizáció, Tanácsadás</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Optimalizáljuk weboldalát a jobb keresőmotoros rangsorolás
            érdekében.
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
