@import "../../../../styles.scss";

.row {
  color: $color5;
  width: 100%;
  padding-top: 10px;
}
.big-container {
  background-color: $color1;
  padding: 20px;
  text-overflow: initial;
}
.content {
  min-height: calc(100vh - 215px);
}
@media (max-width: 992px) {
  .content {
    min-height: calc(100vh - 285px);
  }
}
