<div class="content">
<mat-card class="mat-card-custom">
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms" mat-align-tabs="center" class="mat-primary">
      <mat-tab [label]="aboutUs">
        <app-zmbh-about-us></app-zmbh-about-us>
      </mat-tab>
      <mat-tab label="A Csapat">
        <app-zmbh-about-team></app-zmbh-about-team>
      </mat-tab>
      <mat-tab [label]="aboutGoal">
        <app-zmbh-about-goal></app-zmbh-about-goal>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
</div>

<!-- 

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Küldetés</h2>
        <p>
          Küldetésünk, hogy személyre szabott IT programozási és tervezési
          megoldásokat biztosítsunk, amelyek lehetővé teszik a kisvállalkozások,
          startupok és magánszemélyek sikeres működését a digitális világban.
          Elkötelezettek vagyunk a magas színvonalú szolgáltatások személyes
          megközelítéssel történő nyújtása mellett.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Elkötelezettség</h2>
        <p>
          Elkötelezettek vagyunk ügyfeleink és közösségünk sikerének
          elősegítésében. Alapértékeink a következők:
        </p>
        <ol>
          <li>
            <i><b>Ügyfélközpontú Megközelítés:</b></i> Ügyfeleink egyedi
            igényeinek prioritása, erős, bizalmon és együttműködésen alapuló
            kapcsolatok kiépítésének céljából.
          </li>
          <li>
            <i><b>Minőségi Munka:</b></i> Büszkék vagyunk arra, hogy magas
            színvonalú, személyre szabott megoldásokat szállítunk, amelyek
            segítik ügyfeleinket céljaik hatékony elérésében.
          </li>
          <li>
            <i><b>Újítás Költséghatékonyan:</b></i> Költséghatékony technológiák
            és kreatív megoldások alkalmazásával értéket nyújtunk anélkül, hogy
            kompromisszumot kötnénk a minőség terén.
          </li>
          <li>
            <i><b>Kreatívitás:</b></i> Szenvedélyesek vagyunk a design esztétika
            iránt és törekszünk vizuálisan vonzó, felhasználóbarát megoldások
            létrehozására, amelyek maradandó benyomást keltenek.
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Csapat</h2>
        <p>
          A
          <a href="#"
            ><i><b>ZM-BH Solutions</b></i></a
          >
          mögött egy sokszínű szakemberekből álló csapat van egy közös vízióval.
          Minden tag egyedi készségekkel és tapasztalatokkal járul hozzá közös
          sikerhez.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Vízió</h2>
        <p>
          Víziónk az, hogy a kisvállalkozások és startupok első számú IT
          programozási és tervezési partnerei legyünk. Pozitív hatást szeretnénk
          gyakorolni azzal, hogy segítünk a vállalkozásoknak érvényesülni a
          digitális területen.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Csatlakozz hozzánk a sikerhez vezető úton</h2>
        <p>
          Csatlakozz hozzánk a megfizehtető web fejlesztési és tervezési
          megoldások nyújtásának útján. Együtt leküzdhetjük a kihívásokat és
          elérhetjük a közös sikert. Köszönjük, hogy a
          <a href="#"
            ><i><b>ZM-BH Solutions</b></i></a
          >-t választotta. Azért vagyunk, hogy Önt támogassuk, a sikerhez vezető
          út folyamán.
        </p>
      </div>
    </div>
  </div>
</div> -->
