<div class="content-wrapper">
  <div class="text-content">
    <mat-card class="mat-card-custom">
      <mat-card-content>
        <mat-tab-group
          mat-stretch-tabs="false"
          animationDuration="0ms"
          mat-align-tabs="center"
          class="mat-primary"
        >
          <mat-tab label="Ahol az Ötletek Életre Kelnek">
            <div class="card-content">
              <mat-card>
                <mat-card-content class="mat-inner-content">
                  <div class="flex-container">
                    <div style="text-align: center; padding: 20px">
                      <h1
                        style="
                          font-size: 22px;
                          text-align: justify;
                          color: #003807;
                        "
                      >
                        A <i style="color: #003807">ZM-BH Solutions</i>-nál
                        többet nyújtunk, mint csupán webfejlesztés.
                      </h1>

                      <p
                        style="
                          font-size: 16px;
                          color: #003807;
                          text-align: justify;
                          max-width: 600px;
                          margin: 10px auto;
                          padding-top: 10px;
                        "
                      >
                        Nem csak készítünk, hanem újítunk is - weboldalaktól az
                        interaktív felületekig, és a háttérrendszerekig.
                      </p>
                      <p
                        style="
                          font-size: 16px;
                          color: #003807;
                          text-align: justify;
                          max-width: 600px;
                          margin: 10px auto;
                          padding-top: 10px;
                        "
                      >
                        <b>Célunk</b> kiemelkedő digitális élményt nyújtani, és
                        segíteni Önnek a versenytársak előtt járni.
                      </p>
                      <p
                        style="
                          font-size: 16px;
                          color: #003807;
                          text-align: justify;
                          max-width: 600px;
                          margin: 10px auto;
                          padding-top: 10px;
                        "
                      >
                        Az SEO optimalizációval és tanácsadással biztosítjuk,
                        hogy weboldala a keresőmotorokban is előkelő helyen
                        szerepeljen.
                      </p>
                      <h2
                        style="
                          color: #003807;
                          text-align: center;

                          max-width: 600px;
                          margin: 0 auto;
                          padding-top: 18px;
                        "
                      >
                        Fedezd fel velünk a digitális jövő lehetőségeit!
                      </h2>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="image-content-zb">
    <div class="centered-content">
      <div class="img-centered">
        <img
          class="rounded-corners-zb"
          src="../../../../assets/innovate2.png"
          alt="ZM-BH"
        />
      </div>

      <h3 class="lead-p">
        Ahol a technológia új dimenzióit felfedezzük és a kreativitást magas
        szintre emeljük.<br />
        Mi vagyunk a híd az Ön digitális álmai és a valóság között.
      </h3>
    </div>
  </div>
</div>
